<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendiendo html basico</title>
</head>
<body>
    <H1>Encabezado h1!</H1>

    <hr> 
    <p>Esto es un parrafo <br>
    salto de linea con br</p>
    <pre>
        con etiqueta pre puedo hacer saltos de linea sin br
    </pre>
    <hr>
    <p>tipos de listas</p>
    <ul>
        <LI>html</LI>
        <li>CSS</li>
        <LI>JAVA</LI>
    </ul>
    

    <ol>
        <LI>html</LI>
        <li>CSS</li>
        <LI>JAVA</LI>
    </ol>
</body>
</html>